<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletJSP_Part09</display-name>

<servlet>
<servlet-name>DynamicIncludeMe</servlet-name>
<servlet-class>_01dynamicinclude.DynamicIncludeMe</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DynamicIncludeMe</servlet-name>
<url-pattern>/dynamicIncludeMe</url-pattern>
</servlet-mapping>
</web-app>