<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="css/owfont-regular.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<title>Book store</title>
</head>
<body>
    <div id="twitter"><a href="https://twitter.com/spring1platform">@spring1platform</a></div>
	<h1>Book store</h1>
		<ul th:each="book : ${books}" th:object="${book}">

			<li>
				<h2 th:text="*{name}"></h2>
				<h2 th:text="*{author}"></h2>

				<div style="clear: both;"></div>
			</li>




		</ul>

</body>
</html>
